<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>AirBnb_clone</title>
</head>
<body>
    <!-- Head page -->
    <%-include("./partials/head.ejs")%>
    <!-- Nav bar -->
    <%-include("./partials/nav.ejs")%>
    <!-- showCase part -->
    <%-include("./partials/showCase.ejs")%>
    <!-- footer Section -->
    <%-include("./partials/footer.ejs")%>

    <a href="http://localhost:3000/"><h1>Reload</h1></a>
   
  
</body>
</html>

